<h3>Qualifications</h3>
<p-dropdown placeholder="Select a qualification" [options]="qualifications" [(ngModel)]="qualificationToAdd" class="dropdown2"></p-dropdown>
<button pButton type="button" label="Add qualification" (click)="addQualificationToEmployee()"></button>
<p-table [value]="employeeQualifications">
  <ng-template pTemplate="header">
    <tr>
      <th>Designation</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-qualification>
    <tr>
      <td>{{qualification.designation}}</td>
      <td><button pButton type="button" label="Remove" (click)="removeQualificationFromEmployee(qualification.designation)"></button></td>
    </tr>
  </ng-template>
</p-table>
