.container {
  background-color: #1E1E1E;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}

h2 {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
}

.messageContainer {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
}

.p-float-label {
  padding-top: 10px;
  padding-bottom: 10px;
}
