<link rel="stylesheet" href="login-view.component.css">
<div class="container">
	<h2>Login</h2>
	<form (ngSubmit)="submit(loginForm)" #loginForm="ngForm">
		<div *ngIf="messageData" [ngStyle]="{'background-color': messageData.bgcolor, 'color': messageData.color}" class="messageContainer">
			{{messageData.text}}
		</div>
		<div>
			<div>
				<span class="p-float-label">
					<input id="username-float-input" type="text" pInputText name="username" id="username" ngModel>
					<label for="username-float-input">Username</label>
				</span>
			</div>
			<div>
				<span class="p-float-label">
					<input id="password-float-input" type="password" pInputText name="password" id="password" ngModel>
					<label for="password-float-input">Password</label>
				</span>
			</div>
		</div>
		<div>
			<button pButton type="submit">Login</button>
		</div>
	</form>
</div>