.p-float-label {
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttons {
  text-align: center;
  padding-top: 10px;
}

.button1 {
  padding-right: 20px;
  padding-left: 15px;
}

html {
  background-color: #1E1E1E;
  width: fit-content;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 20px;
  height: fit-content;
}

.überschrift {
  padding-top: 20px;
  text-align: center;
}

.name-container {
  display: flex;
}

.name2 {
  padding-left: 20px;
}

.residence-container {
  display: flex;
}

.residence2 {
  padding-left: 20px;
}

.information-container {
  display: flex;
}

.information2 {
  padding-left: 20px;
}
