<p-card>
  <link rel="stylesheet" href="employee-details.component.css">
  <h3>Employee details</h3>
  <div *ngIf="employee; else elseBlock">
    <table>
      <tbody class="p-datatable-tbody">
      <tr>
        <td>Last name:</td>
        <td>{{employee.lastName}}</td>
      </tr>
      <tr>
        <td>First name:</td>
        <td>{{employee.firstName}}</td>
      </tr>
      <tr>
        <td>Street:</td>
        <td>{{employee.street}}</td>
      </tr>
      <tr>
        <td>Postcode:</td>
        <td>{{employee.postcode}}</td>
      </tr>
      <tr>
        <td>City:</td>
        <td>{{employee.city}}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{employee.phone}}</td>
      </tr>
      </tbody>
    </table>
    <h3>Qualifications</h3>
    <ul>
      <li *ngFor="let qualification of employeeQualifications; index as i;">{{qualification.designation}}</li>
    </ul>
    <p-divider></p-divider>
    <button class="button1" pButton type="button" label="Edit" [routerLink]="['/employeemanagement/edit', employee.id]"></button>
    <button class="button2" pButton type="button" label="Delete" (click)="delete(employee.id)"></button>
  </div>
  <ng-template #elseBlock>Click on an employee to show their details.</ng-template>
</p-card>
