<html>
<link rel="stylesheet" href="new-employee-module.component.css">
<h2 class="überschrift">New Employee</h2>

<div class="name-container">
  <div class="name1">
    <span class="p-float-label">
      <input id="first-name-float-input" type="text" pInputText [(ngModel)]="newEmployee.firstName">
      <label for="first-name-float-input">First name</label>
    </span>
  </div>

  <div class="name2">
    <span class="p-float-label">
      <input id="last-name-float-input" type="text" pInputText [(ngModel)]="newEmployee.lastName">
      <label for="last-name-float-input">Last name</label>
    </span>
  </div>
</div>

<div class="residence-container">
  <div class="residence1">
    <span class="p-float-label">
      <input id="postcode-float-input" type="text" pInputText [(ngModel)]="newEmployee.postcode">
      <label for="postcode-float-input">Postcode</label>
    </span>
  </div>

  <div class="residence2">
    <span class="p-float-label">
      <input id="city-float-input" type="text" pInputText [(ngModel)]="newEmployee.city">
      <label for="city-float-input">City</label>
    </span>
  </div>
</div>

<div class="information-container">
  <div class="information1">
    <span class="p-float-label">
      <input id="street-float-input" type="text" pInputText [(ngModel)]="newEmployee.street">
      <label for="street-float-input">Street</label>
    </span>
  </div>

  <div class="information2">
    <span class="p-float-label">
      <input id="phone-float-input" type="text" pInputText [(ngModel)]="newEmployee.phone">
      <label for="phone-float-input">Phone</label>
    </span>
  </div>
</div>

<div class="buttons">
<p-button class="button1" label="Save" (click)="save()"></p-button>
<p-button class="button2" label="Cancel" routerLink="/employeemanagement"></p-button>
</div>
</html>
