<link rel="stylesheet" href="employee-list.component.css">
<div class="dropdown">
Filter by qualification: <p-dropdown placeholder="Select a qualification" [options]="filters" [(ngModel)]="activeFilter" [showClear]="true" (onChange)="filterByQualification(activeFilter)" class="dropdown2"></p-dropdown>
</div>
<p-table [value]="employees" responsiveLayout="scroll" selectionMode="single">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Last name</th>
      <th>First name</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr (click)="showEmployeeDetails(employee)">
      <td>{{employee.id}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.firstName}}</td>
    </tr>
  </ng-template>
</p-table>
