<h1 class="name">Employee Management Service</h1>
<div class="menu" *ngIf="userLoggedIn">
  <div class="button">
    <button pButton type="button" label="Employees" routerLink="/employeemanagement"></button>
  </div>
  <div class="button">
    <button pButton type="button" label="Qualifications" routerLink="/qualificationmanagement"></button>
  </div>
  <div class="button">
    <button pButton type="button" label="Logout" (click)="logout()"></button>
  </div>
</div>
<div class="router">
  <router-outlet></router-outlet>
</div>