.router {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  background-color: #1E1E1E;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 999;
}

.button {
  padding-bottom: 20px;
}

.menu {
  background-color: #1E1E1E;
  width: fit-content;
  padding: 30px 20px 20px;
  height: max-content;
  position: fixed;
  top: 57px;
}
