.alles {
  background-color: #1E1E1E;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}

h2 {
  padding-top: 20px;
}

.mitte {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apps {
  background-color: #1E1E1E;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.app-employee-list {

}

.app-employee-details {

}

.float {

}
