<div class="alles">
  <link rel="stylesheet" href="employee-module.component.css">
  <h2 class="mitte">Employees</h2>
  <button pButton type="button" label="New employee" routerLink="/employeemanagement/new"></button>
  <div class="apps">
    <div class="app-employee-list">
      <app-employee-list></app-employee-list>
    </div>
    <div class="app-employee-details">
      <app-employee-details></app-employee-details>
    </div>
  </div>
</div>
