<html>
<link rel="stylesheet" href="qualification-module.component.css">
  <h2>Qualifications</h2>

  <div class="block-div">
    <div>
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)]="newQualification.designation">
        <label for="float-input">New qualification</label>
      </span>
    </div>
    <div>
      <button pButton type="button" label="Add" (click)="add()"></button>
    </div>
  </div>

  <p-table [value]="qualifications">
    <ng-template pTemplate="header">
      <tr>
        <th>Designation</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-qualification>
      <tr>
        <td>{{qualification.designation}}</td>
        <td><button pButton type="button" label="Delete" (click)="delete(qualification.designation)"></button></td>
      </tr>
    </ng-template>
  </p-table>
</html>
