/* You can add global styles to this file, and also import other style files */
html {
  width: 100%;
  height: 100vh;
  background-color: #121212;
  color: white;
  font-family: Arial, serif;
}
.block-div {
  display: inline-flex;
}
